/export.csv
/export_46861.xlsx
/.idea/inspectionProfiles/
/.idea/csvProcessor.iml
/Scripts/
/.idea/
/.idea/misc.xml
/.idea/$PRODUCT_WORKSPACE_FILE$
/.idea/vcs.xml
/.idea/modules.xml
/Lib/site-packages/
/pyvenv.cfg
